<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include Variables.wxi?>
  <Fragment>

    <!-- Define directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Main install directory (Program Files) -->
      <Directory Id="$(var.PlatformProgramFilesFolder)" Name="ProgFiles">
        <Directory Id="INSTALLLOCATION" Name="$(var.CompanyInstallDirectory)">
          <Directory Id="APPLICATIONROOTDIRECTORY" Name="$(var.AppInstallDirectory)"/>          
        </Directory>
        <!-- Windows\system32 directory -->
        <Directory Id="SystemFolder" />
        <!-- Windows temp directory -->
        <Directory Id="TempFolder" />
        <!-- Application programs shortcut folder -->
        <Directory Id="ProgramMenuFolder" Name="Programs">
          <Directory Id="APPLICATIONPROGRAMMENUFOLDER" Name="$(var.ApplicationProgramMenuFolder)"/>
        </Directory>
      </Directory>
    </Directory>

  </Fragment>
</Wix>

