<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="snort" type="System.Configuration.AppSettingsSection" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <snort>    
    <!-- connection to the database-->
    <add key="connection-string" value="Server=BEAST; Database=giltdb_test; Trusted_Connection=True" />
    <!--snort log folder -->
    <add key="log-folder" value="C:\test" />
    <!--snort prefix filename -->
    <add key="log-prefixname" value="unified2-current.log" />
    <!--snort classification filename -->
    <add key="classification-config" value="C:\test\classification.config" />
    <!--snort reference filename -->
    <add key="reference-config" value="C:\test\reference.config" />
    <!--snort sid filename -->
    <add key="sid-msg-map" value="C:\test\sid-msg.map" />
    <!--snort gen filename -->
    <add key="gen-msg-map" value="C:\test\gen-msg.map" />
  </snort>
</configuration>