<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">  
  <targets>
    <target name="console"        xsi:type="Console" layout="${log4jxmlevent}" />
    <target name="gilttail"       xsi:type="File"     fileName="${basedir}/gilttail.log"      keepFileOpen="true" layout="${log4jxmlevent}" />
    <target name="giltsetup"      xsi:type="File"     fileName="${basedir}/giltsetup.log"     keepFileOpen="true" layout="${log4jxmlevent}" />
    <target name="giltunified2"    xsi:type="File"    fileName="${basedir}/giltunified2.log"  keepFileOpen="true" layout="${log4jxmlevent}" />

    <target name="database" 
            xsi:type="Database" 
            keepConnection="true" 
            useTransactions="true"
            dbProvider="System.Data.SqlClient"
            connectionString="data source=BEAST;initial catalog=giltdb_test;integrated security=false;persist security info=True;User ID=gilt;Password=gilt"
            commandText="INSERT INTO NLog([TimeStamp], [LogLevel], [UserName], [MachineName], [Message], [Method], [Exception], [StackTrace], [Thread], [Logger]) 
                                  VALUES (@TimeStamp,  @LogLevel,  @UserName,  @MachineName,  @Message,  @Method,  @Exception,  @StackTrace, @Thread, @Logger)">
      <!-- parameters for the command -->
      <!-- https://github.com/nlog/NLog/wiki/Layout-Renderers -->
      <parameter name="@TimeStamp"    layout="${date:s}" />
      <parameter name="@LogLevel"     layout="${level}" />
      <parameter name="@UserName"     layout="${windows-identity} " />
      <parameter name="@MachineName"  layout="${machinename}" />
      <parameter name="@Message"      layout="${message}" />
      <parameter name="@Method"       layout="${callsite}" />
      <parameter name="@Exception"    layout="${exception}" />
      <parameter name="@StackTrace"   layout="${stacktrace}" />
      <parameter name="@Thread"       layout="${threadid}" />
      <parameter name="@Logger"       layout="${logger}" />
    </target>

  </targets>

  <rules>
    <logger name="gilttail"     minlevel="Info"   writeTo="gilttail" />
    <logger name="giltsetup"    minlevel="Debug"  writeTo="giltsetup" />
    <logger name="giltunified2" minlevel="Trace"  writeTo="giltunified2" />    
    <logger name="*"            minlevel="Debug"  writeTo="database" />    
    <!--
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="giltunified2" minlevel="Trace" writeTo="console" />
    -->
  </rules>
</nlog>