<?xml version="1.0" encoding="utf-8" ?>
<nlog  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>    
    <target name="database"
            xsi:type="Database"
            keepConnection="true"
            useTransactions="true"
            dbProvider="System.Data.SqlClient"
            connectionString="data source=BEAST;initial catalog=giltdb;integrated security=true;persist security info=True; Trusted_Connection=True"
            commandText="INSERT INTO NLog([TimeStamp], [LogLevel], [UserName], [MachineName], [Message], [Method], [Exception], [StackTrace], [Thread], [Logger]) 
                                  VALUES (@TimeStamp,  @LogLevel,  @UserName,  @MachineName,  @Message,  @Method,  @Exception,  @StackTrace, @Thread, @Logger)">
      <!-- parameters for the command -->
      <!-- https://github.com/nlog/NLog/wiki/Layout-Renderers -->
      <parameter name="@TimeStamp"    layout="${date:s}" />
      <parameter name="@LogLevel"     layout="${level}" />
      <parameter name="@UserName"     layout="${windows-identity} " />
      <parameter name="@MachineName"  layout="${machinename}" />
      <parameter name="@Message"      layout="${message}" />
      <parameter name="@Method"       layout="${callsite}" />
      <parameter name="@Exception"    layout="${exception}" />
      <parameter name="@StackTrace"   layout="${stacktrace}" />
      <parameter name="@Thread"       layout="${threadid}" />
      <parameter name="@Logger"       layout="${logger}" />
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Error"  writeTo="database" />
  </rules>
</nlog>