<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Key" value="k402HJ1qSrtbU0VCNIDLBL+2yh8aKBSUgjsSzH0JMzE=" />
    <add key="IV" value="vfDg44BlGyFfrHKEH3nOAO8WkAsm3hhiU5snnLofF3g=" />
  </appSettings>

  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>

  <!-- Let IIS handle all of our static content-->
  <location path="scripts">
    <system.webServer>
      <handlers>
        <remove name="Nancy" />
      </handlers>
    </system.webServer>
  </location>
  <location path="assets">
    <system.webServer>
      <handlers>
        <remove name="Nancy" />
      </handlers>
    </system.webServer>
  </location>
  <location path="styles">
    <system.webServer>
      <handlers>
        <remove name="Nancy" />
      </handlers>
    </system.webServer>
  </location>



  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
</configuration>